<footer>
  <div class="py-12">
    <p
      class="text-xs text-base-500 text-balance text-center"
      x-data="{ year: new Date().getFullYear() }"
    >
      Let's enjoy every moment!
    </p>
  </div>
</footer>
